@use "_mixins" as m;

.payment {
  font-size: 16px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  padding: 0;

  @include m.devices(tablet) {
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: calc(100% - 4rem);
  }

  @include m.devices(desktop) {
    padding: 0 0 0 2.8rem;
    margin-top: 0.5rem;
  }
}

.payment-form {
  width: calc(95% - 2rem);
  border-radius: 5px;
  padding: 1rem;
  background-color: #76727270;
  color: #ffffff;
  height: fit-content;
  margin-top: 15px;

  button {
    background-color: rgb(252, 115, 117);
    height: 35px;
    border-radius: 15px;
    margin: 0px 5px;
    padding: 0px 15px;
    border: none;
    color: black;
    max-width: 120px;
    margin: 0.5rem 10px 0.5rem 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.payment-message {
  height: fit-content;
  padding: 10px 0 0 0;
  text-align: center;
  z-index: 1000;
  color: #ffffff;
}

.payment-element {
  margin: 1rem 0 1.5rem 0;
  color: #ffffff;
}
