.GenrePageWrapper{
height: 100%;
    width: 100%;
  

  }
  
  .GenrePageContainer {
  color: white;
    top: 0;
    left: 0;
    width: 100%;
  padding-top: 6rem;
min-height: calc(95vh - 6rem);
    overflow: hidden; 


background-color: black;

}










