@use "variables" as v;
@use "_mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400&display=swap");

.login-container {
  min-height: 100vh;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: v.$font-copy;

  line-height: 1.5;
  font-weight: 300;
  color: v.$color-off-white;
  background: linear-gradient(to bottom, #000000, #622b4f);
}

.login-title {
  font-family: v.$font-title;
  font-size: 4rem;
  color: v.$color-white;
  margin-bottom: 2rem;
}

.login-form {
  width: 70%;

  @include m.devices(desktop) {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    font-size: 1rem;
    color: v.$color-white;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid v.$color-gray;
    border-radius: 5px;
    color: #000;
  }

  &__button {
    width: 100%;
    margin-left: 2%;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: v.$color-black;
    background-color: v.$color-white;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: v.$color-off-white;
    }
  }
  &__link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.5rem;
  }

  &__link {
    color: v.$color-white;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: darken(v.$color-white, 40%);
    }
  }
}
