.loginOut{

    top: 0.5%;
    z-index: 10;
    min-width: fit-content;
    margin-right: 0.5%;
    }
    
    
    
    .signOutDiv{
    margin-left: -4rem;
    margin-right: 4rem;
    padding-right: 5rem;
        z-index: 20;
    }
    .signInDiv{
    
    right: 0;
    z-index: 20;
    
    
    
        
    }