.loginOut{
    
    top: 0.5%;
    z-index: 10;
    min-width: fit-content;
    }
    
    
    
    .signOutDiv{
        
  


        z-index: 20;
    }
    .signInDiv{
    
    right: 0;
    z-index: 20;
    
    
    
        
    }