.loginOut {
  top: 0.5%;
  z-index: 10;
  min-width: fit-content;
  z-index: 5000;
  display: flex;
  justify-content: end;

  button {
    height: 36px;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 0 1.5rem;
    border: none;

    &:hover {
      cursor: pointer;
      filter: opacity(80%);
    }
  }
}

.signOutDiv {
  z-index: 20;
}
.signInDiv {
  z-index: 5000;
}
