@use "_mixins" as m;

.movie {
  height: 86vh; //kolla på dessa sen
  padding-top: 50px; //kolla på dessa sen
  background-color: black;

  &__info-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__image-selected {
    margin-top: 30px;
    height: 50vh;

    @include m.devices(desktop) {
      margin-top: 50px;
      height: 60vh;
    }
  }

  &__description {
    margin: 20px 0px 0px 55px;
    text-align: start;
    color: white;
  }

  &__title-selected {
    font-size: 1.6rem;
    margin: 10px 0px 0px 55px;
    text-align: start;
    color: white;
  }

  &__genre-selected {
    font-size: 0.9rem;
    text-align: start;
    margin: 10px 0px 0px 55px;
    color: white;
  }

  &__button-rent {
    margin: 15px 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 45px;
    width: 40%;
    background-color: rgba(200, 209, 200, 0.8);
    color: white;
  }

  @include m.devices(desktop) {
    margin-top: 40px; //kolla på dessa sen
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh; //kolla på dessa sen
  }
}
