@use "_mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400&display=swap");

.oneMovie__wrapper {
  position: relative;
  min-height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(52, 50, 50), #000000);
}
.arrow-back {
  right: 10%;
  top: 80%;
  width: 25px;
  height: 25px;
 display: none;
  position: absolute;
  @media (min-width: 768px) {
    display: block;
 width: 40px; 
 height: 40px;
right:20%;
top:20%;

  }
}
.movie {
  font-family: "Montserrat", sans-serif;

 width: 60%;
  @media (min-width: 768px) {
  
  
  }


  &__info-wrapper {
    display: flex;
    flex-direction: column;

  
  }

  &__image-selected {
  
    height: 50vh;

    @include m.devices(desktop) {
      margin-top: 60px;
      height: 60vh;
    }
  }

  &__description {
    margin: 20px 0px 0px 55px;
    text-align: start;
    color: white;
  }

  &__title-selected {
    font-size: 1.6rem;
    margin: 10px 0px 0px 55px;
    text-align: start;
    color: white;
  }

  &__genre-selected {
    font-size: 0.9rem;
    text-align: start;
    margin: 10px 0px 0px 55px;
    color: white;
  }

  &__button-rent {
    background-color: #ff4e50;
    height: 35px;
    border-radius: 15px;
    margin: 0px 5px;
    padding: 0px 15px;
    border: none;
    color: black;
    max-width: 120px;
    margin: 15px 10px 0px 50px;

    &:hover {
      cursor: pointer;
    }
  }

  @include m.devices(desktop) {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
